.navbar {
  height: auto;
  background: white;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  z-index: 60;
  align-items: center;
  padding: 0.5rem 0rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.dropdown__button {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle; }

.single__line__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.3rem 0; }

.search__bar {
  display: flex;
  align-items: center;
  width: 100%; }

.search__bar input {
  border-radius: 0;
  overflow: hidden;
  padding: 8px;
  color: #525260;
  border: none;
  outline: none;
  padding-left: 1rem;
  background-color: #e5e9f1;
  width: 100%; }

.wrapped__search {
  width: 100%; }

.btn-search {
  min-width: 0;
  margin-right: 0;
  border-radius: 0;
  color: #000;
  padding: 0 0.75em;
  border: none;
  background-color: #e5e9f1; }

.btn-search img {
  height: 27px; }

ul > li {
  list-style: none; }

div > i {
  vertical-align: middle !important; }

.rounded-circle-icon {
  border-radius: 100%;
  border: 0;
  height: 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: #008a00;
  text-align: center;
  width: 30px;
  padding: 0;
  margin: 1rem;
  position: relative; }

.cart__quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #e95144;
  position: absolute;
  z-index: 100;
  width: 1.2rem;
  height: 20px;
  border-radius: 100%; }

.menu__items {
  margin: 0;
  display: flex; }

.menu__item {
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #008a00;
  text-align: center; }
  .menu__item a {
    text-decoration: none;
    color: #008a00;
    outline: none;
    list-style: none; }

.menu__item span {
  font-size: 0.7rem; }

.wrapped__menus {
  padding: 1rem 1rem 0rem 1rem;
  width: 100%; }

.wrapped_menu_header {
  display: none; }

.sub__dropdown__menu_wrapped {
  display: none;
  background: white; }

@media (min-width: 40rem) {
  .wrapped_navbar {
    margin-bottom: 0.5rem; }

  .navbar {
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 0 auto; }

  .wrapped__menus {
    display: flex;
    align-items: center; }

  .wrapped__search {
    flex: 0 0 50%; }

  .rounded-circle-icon {
    width: 50px;
    height: 50px;
    font-size: 30px; }

  .search__bar input {
    padding: 1rem; }

  .btn-search {
    padding: 0.5rem; }

  .wrapped_slider_baner {
    margin-top: -0.5rem; }

  .wrapped_menu_header {
    padding: 0;
    margin: 0; }

  .wrapped_menu_header {
    display: block; }

  .menu_items {
    display: flex;
    align-items: center;
    justify-content: center; }

  .menu_item {
    flex: 0 0 18%;
    text-decoration: none;
    font-size: 1.2rem;
    color: #008a00;
    text-align: center; }
    .menu_item a {
      text-decoration: none;
      color: #008a00;
      outline: none;
      list-style: none; }

  .sub__dropdown__menu_container {
    display: flex;
    flex-wrap: wrap; }

  .sub__menu__items {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem; }
    .sub__menu__items :first-of-type {
      color: red; }

  .sub__menu__item {
    flex: 1;
    margin-bottom: 0.5rem;
    cursor: pointer; } }
@media (min-width: 1200px) {
  .navbar {
    width: 1226px; }

  .menu__test:hover ~ .sub__dropdown__menu_wrapped {
    display: block;
    position: absolute;
    top: 12rem;
    z-index: 1000; }

  .sub__dropdown__menu_wrapped:hover {
    display: block;
    position: absolute;
    top: 12rem;
    z-index: 1000; } }

/*# sourceMappingURL=header.css.map */
