@import 'variable.scss';
.product-supplement-facts-container {
  border: $border-grey;
}
.nutrition_heading {
  border-bottom: $border-grey;
  padding-bottom: 0.5rem;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}
.serving-per-container {
  border-bottom: $border-grey;
  padding-bottom: 0.5rem;
}
.nutrition_serving_size {
  border-bottom: $border-grey;
  padding-bottom: 0.5rem;
}
.serving_size {
  font-weight: 500;
}
.serving-per-container {
  font-weight: 500;
}
.table_body {
  display: flex;
  flex-wrap: wrap;
}
.first_col {
  flex: 0 0 67%;
  border-bottom: $border-grey;
  border-right: $border-grey;
}
.amount_per_serving {
  flex: 0 0 57px;
  border-bottom: $border-grey;
  border-right: $border-grey;
}
.strong {
  font-weight: 500;
}
.daily_value {
  flex: 0 0 53px;
  border-bottom: $border-grey;
}
.notes_daily_value {
  flex: 0 0 100%;
  border-bottom: $border-grey;
}
.dietary_fiber {
  flex: 0 0 55%;
  border-bottom: $border-grey;
  border-right: $border-grey;
}
.calories__notes {
  flex: 0 0 70px;
  border-bottom: $border-grey;
  border-right: $border-grey;
  //   &:nth-last-child(4) {
  //     border-right: none;
  //   }
}
.calories__notes_2000 {
  flex: 0 0 40px;
  border-bottom: $border-grey;
  border-right: $border-grey;
}
.calories__notes_2500 {
  flex: 0 0 40px;
  border-bottom: $border-grey;
}
